.container {
  width: 100%;
  height: 600px;
}
.container .content {
  width: 1200px;
  height: 350px;
  margin: 0 auto;
}
.container .content p {
  width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 34px;
  color: #333;
}
.container .content p span {
  color: #FF000E;
}
.con-left {
  width: 440px;
  float: left;
  position: relative;
}
.con-left b {
  padding-top: 30px 5px;
  font-size: 24px;
  color: #FF000E;
  text-align: left;
  font-weight: normal;
  width: 450px;
  display: block;
}
.con-left span {
  text-align: left;
  font-size: 19px;
  color: #333;
  display: inline-block;
  width: 450px;
  float: left;
  padding: 5px;
}
.freeOrde2 {
  position: absolute;
  top: 230px;
  left: 20px;
}
section {
  width: 100%;
  height: 760px;
}
section .substance {
  width: 1200px;
  height: 750px;
  margin: 0 auto;
  position: relative;
}
section .substance h3 {
  font-weight: normal;
  width: 1200px;
  display: inline-block;
  font-size: 34px;
  text-align: center;
  color: #333;
}
section .substance h3 span {
  color: #FF000E;
  font-size: 36px;
}
.sub-left {
  width: 370px;
  height: 400px;
  float: left;
  padding-top: 90px;
}
.sub-left .subleft1 {
  width: 390px;
  height: 200px;
}
.sub-left .subleft1 span:first-child {
  display: block;
  width: 70px;
  height: 85px;
  font-size: 60px;
  color: #CCCCCC;
  float: left;
}
.subleft1 span:nth-child(2) {
  font-size: 24px;
  display: block;
  float: left;
  width: 250px;
  height: 85px;
  line-height: 85px;
  text-align: left;
}
.subleft1 span:last-child {
  display: block;
  width: 250px;
  height: 115px;
  font-size: 16px;
  float: left;
  margin-left: 70px;
  color: #333;
}
.sub-right {
  width: 370px;
  height: 400px;
  float: right;
  padding-top: 90px;
}
.sub-right .subleft1 {
  width: 390px;
  height: 200px;
}
.sub-right .subleft1 span:first-child {
  display: block;
  width: 70px;
  height: 85px;
  font-size: 60px;
  color: #CCCCCC;
  float: left;
}
.secenter img {
  display: block;
  width: 270px;
  height: 450px;
  position: absolute;
  left: 475px;
  top: 80px;
}
