*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "microsoft yahei";
	overflow-x: hidden;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	height: 135px;
	background: #fff;
}
.min-width{
	width: 1200px;
	height: 135px;
	margin: 0 auto;
}
.logo span{
	float: left;
	font-size: 28px;
	font-family: "黑体";
}
.navbar ul{
	width:800px;
	height: 135px;
	float: right;
}
.navbar ul li{
	line-height: 135px;
	width: 80px;
	text-align: center;
	float: left;
}
.navbar ul li a{
	font-size: 15px;
	display: block;
	height: 135px;
	color: #000;
}
.navbar .navbar-phone {
	padding-left: 17px;
	color: #000;
	margin-left: 13px;
	font-size:14px;
	width:145px ;
	background: url(../img/phone.png) no-repeat center left;
}
.navbar ul li a:hover,.navbar ul li.current a{
		color:#ff000e;
		border-bottom:3px solid #ff000e;
}

.swiper-slide{
	position: relative;
}
.index_freeOrder{
	display: block;
	width: 190px;
	height: 60px;
	border-radius: 10px;
	background: #FF000E;
	position:absolute;
	top: 350px;
	left: 870px;
	font-size: 20px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	z-index: 9;
	cursor: pointer;
}
.freeOrder2{
	position:absolute;
	top: 350px;
	left: 580px;
}
.swiper-slide img{
	height:525px;
	width:100%;
	display: block;
}
.tab1{
	position: relative;
	height: 670px;
}
.tab-h2{
	font-size: 34px;
	text-align: center;
	padding-top: 30px;
	color: #000;
	font-weight: normal;
}
.tab-h2 span{
	font-size: 40px;
	color: #FF000E;
}
.tab-p{
	font-size: 22px;
	text-align: center;
	color: #000;
	margin: 20px 0 20px 0;
}
.row{
	width: 1200px;
	height: 494px;
	margin: 0 auto;
}
.media{
	width: 400px;
	height: 494px;
	float: left;
	margin-top: 40px;
}
.media-tip{
	text-align: center;
	width: 360px;
	margin: 0 auto;
}
.media-tip .text{
	color: #000;
	font-size: 28px;
	margin-top: 22px;
}
.media-tip .text2{
	font-size: 22px;
	margin-top: 22px;
	color: #000;
}
.change1 p{
	margin-left: auto;
	margin-right: auto;
	width: 262px;
	height: 304px;
	background: url(../img/headico.png) no-repeat;
}
.change1 p:hover{
	background: url(../img/headico2.png) no-repeat;
}
.change2 p{
	margin-left: auto;
	margin-right: auto;
	width: 262px;
	height: 304px;
	background: url(../img/teach.png) no-repeat;
}
.change2 p:hover{
	background: url(../img/teach2.png) no-repeat;
}
.change3 p{
	margin-left: auto;
	margin-right: auto;
	width: 262px;
	height: 304px;
	background: url(../img/server.png) no-repeat;
}
.change3 p:hover{
	background: url(../img/server2.png) no-repeat;
}

.tab2{
	width: 100%;
	height: 670px;
	margin-top: 30px;
	position: relative;
}
.tab2-title{
	font-size: 34px;
	text-align: center;
	color: #000;
}
.tab2-title span{
	color: #FF000E;
	font-size: 40px;
}
.ul-father{
	width: 1000px;
	height: 60px;
	margin: 30px auto;
}
.ul-son1{
	width: 500px;
	height:40px;
	margin: 0 auto;
}
.ul-son2{
	width: 850px;
	height:40px;
	margin: 0 auto;
}
.ul-son4{
	width: 690px;
	height:40px;
	margin: 0 auto;
}
.ul-father li{
	width: 200px;
	height: 50px;
	border: 1px solid #FF000E;
	border-radius: 10px;
	color: #FF000E;
	line-height: 50px;
	text-align: center;
	font-size: 28px;
	font-family: "黑体";
	float: left;
	margin-left: 40px;
}
.ul-father .active{
	background: #FF000E;
	color: #fff;
}
.ul-son li{
	width: 120px;
	height: 40px;
	border: 1px solid #FF000E;
	border-radius: 10px;
	color: #FF000E;
	line-height: 40px;
	text-align: center;
	font-size:20px;
	font-family: "黑体";
	float: left;
	margin-left: 40px;
}
.ul-son .active{
	background: #FF000E;
	color: #fff;
}
.conter{
	width: 1200px;
	height: 580px;
	margin: 0 auto;
}
.conter .box {
	position: relative;
}
.grade1{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:15px
}
.grade-title{
	width: 210px;
	height: 51px;
	line-height: 51px;
	color: #fdb62b;
	font-size: 34px;
	text-align: center;
}
.grade1bg{
	width: 210px;
	height: 167px;
	background: #fdb62b;
	padding: 40px 0;
}
.grade1bg li{
	text-align: left;
	color: #fff;
	font-size: 14px;
	padding:2px 30px;
}
.grade2{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:255px
}
.grade2bg{
	width: 210px;
	height: 207px;
	background: #fdb62b;
	padding: 50px 0;
}
.grade2bg li{
	text-align: left;
	color: #fff;
	font-size: 14px;
	padding:2px 30px;
}
.grade3{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:495px
}
.grade3bg{
	width: 210px;
	height: 247px;
	background: #fc8b37;
	padding: 60px 0;
}
.grade3bg li{
	text-align: left;
	color: #fff;
	font-size: 14px;
	padding:2px 30px;
}
.grade4{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:735px
}
.grade4bg{
	width: 210px;
	height: 287px;
	background: #fc8b37;
	padding: 90px 0;
}
.grade4bg li{
	text-align: left;
	color:#fff;
	font-size: 14px;
	padding:2px 30px;
}
.grade5{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:975px
}
.grade5bg{
	width: 210px;
	height: 327px;
	background: #fe5454;
	padding: 120px 0;
}
.grade5bg li{
	text-align: left;
	color:#fff;
	font-size: 14px;
	padding:2px 30px;
}
.box{
	width: 1200px;
	height: 380px;
	margin: 0 auto;
	margin-top: 30px;
}
.Junior1{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:265px
}
.Junior1bg{
	width: 210px;
	height: 167px;
	background: #fdb62b;
	padding: 40px 0;
}
.Junior1bg li{
	text-align: left;
	color: #fff;
	font-size: 14px;
	padding:2px 30px;
}
.Junior2{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:495px
}
.Junior2bg{
	width: 210px;
	height: 207px;
	background: #fdb62b;
	padding: 50px 0;
}
.Junior2bg li{
	text-align: left;
	color: #fff;
	font-size: 14px;
	padding:2px 30px;
}
.Junior3{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:725px
}
.Junior3bg{
	width: 210px;
	height: 247px;
	background: #fc8b37;
	padding: 60px 0;
}
.Junior3bg li{
	text-align: left;
	color: #fff;
	font-size: 14px;
	padding:2px 30px;
}
.physics1{
	position: absolute;
	bottom:0px;
	left:380px;
}
.physics2{
	position: absolute;
	bottom:0px;
	left:610px;
}
.chemical1 {
	position: absolute;
	bottom:0px;
	left:495px;
}
.senior1{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:265px
}
.senior1bg{
	width: 210px;
	height: 167px;
	background: #fdb62b;
	padding: 40px 0;
}
.senior1bg li{
	text-align: left;
	color: #fff;
	font-size: 14px;
	padding:2px 30px;
}
.senior2{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:495px
}
.senior2bg{
	width: 210px;
	height: 207px;
	background: #fdb62b;
	padding: 50px 0;
}
.senior2bg li{
	text-align: left;
	color: #fff;
	font-size: 14px;
	padding:2px 30px;
}
.senior3{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:725px
}
.senior3bg{
	width: 210px;
	height: 247px;
	background: #fc8b37;
	padding: 60px 0;
}
.senior3bg li{
	text-align: left;
	color: #fff;
	font-size: 14px;
	padding:2px 30px;
}
.xiaowu1{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:265px
}
.xiaowu1bg{
	width: 210px;
	height: 167px;
	background: #fdb62b;
	padding: 40px 0;
}
.xiaowu1bg li{
	text-align: left;
	color: #fff;
	font-size: 14px;
	padding:2px 30px;
}
.xiaowu2{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:495px
}
.xiaowu2bg{
	width: 210px;
	height: 207px;
	background: #fdb62b;
	padding: 50px 0;
}
.xiaowu2bg li{
	text-align: left;
	color: #fff;
	font-size: 14px;
	padding:2px 30px;
}
.xiaowu3{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:725px
}
.xiaowu3bg{
	width: 210px;
	height: 247px;
	background: #fc8b37;
	padding: 60px 0;
}
.xiaowu3bg li{
	text-align: left;
	color: #fff;
	font-size: 14px;
	padding:2px 30px;
}
.chugao1{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:15px
}
.chugao1bg{
	width: 210px;
	height: 167px;
	background: #fdb62b;
	padding: 40px 0;
}
.chugao1bg li{
	text-align: left;
	color: #fff;
	font-size: 14px;
	padding:2px 30px;
}
.chugao2{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:255px
}
.chugao2bg{
	width: 210px;
	height: 207px;
	background: #fdb62b;
	padding: 50px 0;
}
.chugao2bg li{
	text-align: left;
	color: #fff;
	font-size: 14px;
	padding:2px 30px;
}
.chugao3{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:495px
}
.chugao3bg{
	width: 210px;
	height: 247px;
	background: #fc8b37;
	padding: 60px 0;
}
.chugao3bg li{
	text-align: left;
	color: #fff;
	font-size: 14px;
	padding:2px 30px;
}
.chugao4{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:735px
}
.chugao4bg{
	width: 210px;
	height: 287px;
	background: #fc8b37;
	padding: 90px 0;
}
.chugao4bg li{
	text-align: left;
	color:#fff;
	font-size: 14px;
	padding:2px 30px;
}
.chugao5{
	width: 210px;
	position: absolute;
	bottom:0px;
	left:975px
}
.chugao5bg{
	width: 210px;
	height: 327px;
	background: #fe5454;
	padding: 120px 0;
}
.chugao5bg li{
	text-align: left;
	color:#fff;
	font-size: 14px;
	padding:2px 30px;
}

.tab3{
	width: 100%;
	height: 760px;
	position: relative;
	padding-top: 20px;
}
.five{
	width: 1200px;
	margin: 0 auto;
	height: auto;
	margin-top: 30px;	
}
.five span{
	position: relative;
	display: inline-block;
	height: 60px;
	margin-top: 20px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 24px;
}
.five span:nth-child(1){
	width: 77.66%;
	background: url(../img/tixing1.png) no-repeat;
	left: 11.1%;
}
.five span:nth-child(2){
	width: 70.83%;
	background: url(../img/tixing2.png) no-repeat;
	left: 14.58%;
}
.five span:nth-child(3){
	width: 64%;
	background: url(../img/tixing3.png) no-repeat;
	left: 18%;
}
.five span:nth-child(4){
	width: 57.33%;
	background: url(../img/tixing4.png)no-repeat;
	left: 21.3%;
}
.five span:nth-child(5){
	width: 50.5%;
	background: url(../img/tixing5.png)no-repeat;
	left: 24.75%;
}
.five span:nth-child(6){
	width: 51%;
	background: url(../img/tixing6.png)no-repeat;
	left: 28.33%;
	text-indent: -90px;
}

.tab4{
	width: 100%;
	height: 670px;
	position: relative;
}
.fl img:hover {
	transform:scale(1.2);
	transition: all 0.5s;
}
.trans:hover{
	transform:scale(1.2);
	transition: all 0.5s;
}
.row-100{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}
.col-16{
	width: 200px;
	height: auto;
	float: left;
	margin-top: 60px;
	transform:scale all 2s;
}
.col-33{
	width: 400px;
	float: left;
	height: auto;
	margin-top: 60px;
}

.tab5{
	width: 100%;
	height: 120px;
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
}
#form1{
	margin: 0;padding: 0;
	width: 100%;
	height: 60px;
	background: #444;
}
#form1 p{
	float: left;
}
#form1 p:first-child{
	margin-left: 18%;
}
#form1 p>input{
	width: 210px;
	height: 32px;
	border: 1px solid #FFFFFF;
	background: #FFFFFF;
	margin-top: 14px;
	margin-left: 15px;
	font-size: 16px;
}
#form1 select{
	width: 90px;
	height: 32px;
	float: left;
	margin-top: 14px;
	margin-left: 3px;
}
#submit1{
	float: left;
	width: 125px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background: #FF000E;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 30px;
	text-align: center;
	text-indent: 0;
	color: #fff;
	cursor: pointer;
}
.index-ctnr6{
	width: 100%;
	height: 60px;
	background: #333;
}
.index-ctnr6 p{
	width: 100%;
	text-align: center;
	line-height: 40px;
}
.beian{
	display: block;
	width: 400px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin: 0 auto;
}

/*模态框*/
.model{
	width: 804px;
	height: 400px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background: #FFFFFF;
	position: relative;
	font-family: "microsoft yahei";
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 111;
}
.model-right input{
	width: 310px;
	height: 42px;
	text-indent: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #333;
	margin-top: 20px;
}
.model-right select{
	width: 100px;
	height: 42px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	background: #FFFFFF;
	color: #333;
	margin-top: 20px;
}
#submit2{
	width: 240px;
	height: 46px;
	background: #ea5d64;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	line-height: 46px;
	border-radius: 10px;
}
.close{ 
	position:absolute; 
	top:0; 
	right:15px; 
	height:35px;
	font-size: 34px; 
	line-height:35px; 
	text-align:center; 
	display:block; 
	color:#666; 
	cursor:pointer;
}
.close:hover{ color:#A30D10;}
.mask{
	background-color:#000; 
	width:100%; height:100%; 
	opacity:.3; 
	filter:alpha(opacity=30); 
	position:absolute; 
	left:0; 
	top:0; 
	display:none;
	z-index: 99;
}
.line{
	width: 1px;
	height: 200px;
	background: #bcbcbc;
	position: absolute;
	left: 50%;
	top: 14%;
}
.model-left{
	float: left;
}
.model-right{
	float: right;
	margin-right: 60px;
	margin-top: 50px;
}
.model-left img{
	margin-left: 20px;
}
.model-left h4:first-child{
	margin-top: 60px;
}
.model-left h4{
	font-size: 22px;
	margin-left: 60px;
}
#submit{
	margin-left: 40px;
	margin-bottom: 10px;
}
